@font-face {
  font-family: "Trebuchet-MS";
  src: url("../fonts/Trebuchet-MS.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

*, *::before, *::after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

html {
  font-size: 12px; }

body {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.9rem; }

h1 {
  font-size: 5rem; }

h2 {
  font-size: 3.5rem; }

h3 {
  font-size: 3rem; }

h4 {
  font-size: 2.2rem; }

h5 {
  font-size: 1.6rem; }

p {
  font-size: 1.4rem; }

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 11px; } }

/* Portrait tablets and medium desktops */
@media (max-width: 1199px) {
  html {
    font-size: 10px; } }

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
  html {
    font-size: 9px; } }

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 7px; } }

/* Landscape phones and smaller */
@media (max-width: 480px) {
  html {
    font-size: 6px; } }

.container {
  margin: 0 auto;
  height: 100%;
  max-width: 104rem; }
  @media (max-width: 1199px) {
    .container {
      padding: 0 1rem; } }

.social {
  display: flex;
  flex-direction: row; }
  .social a {
    display: block;
    margin-left: 1rem; }
    .social a img {
      height: 3.2rem;
      width: 3.2rem; }

.header {
  background-color: #00bff3; }
  .header__content {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 10.4rem;
    width: 100%; }
    @media (max-width: 1199px) {
      .header__content {
        flex-direction: column; } }
  .header__logo {
    display: flex;
    flex-direction: row;
    align-items: flex-end; }
    @media (max-width: 1199px) {
      .header__logo {
        padding: 1rem; } }
    .header__logo img {
      max-height: 4.3rem;
      max-width: 17.9rem; }
    .header__logo p {
      display: inline-block;
      font-size: 1.6rem;
      padding-left: 2.2rem; }
  .header__contacts {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .header__phone span {
    display: block;
    font-size: 3rem; }
  .header__call-back {
    padding-left: 2.6rem; }
    @media (max-width: 480px) {
      .header__call-back {
        padding-left: 1rem; } }
    .header__call-back a {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      color: #ffffff;
      font-size: 1.6rem;
      text-decoration: none; }
  .header .social {
    padding-left: 4.7rem; }
    @media (max-width: 480px) {
      .header .social {
        padding-left: 1rem; } }

.intro {
  margin-top: 2.4rem; }
  .intro__header {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 99%, 94% 97%, 84% 88%, 57% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 99%, 94% 97%, 84% 88%, 57% 100%, 0% 100%);
    max-width: 104rem;
    position: relative; }
    .intro__header img {
      width: 100%; }
  .intro__code {
    background-color: rgba(255, 242, 0, 0.7);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Trebuchet-MS";
    position: absolute;
    left: 3.2rem;
    bottom: 3.2rem;
    text-align: center;
    height: 25rem;
    width: 25rem; }
    @media (max-width: 480px) {
      .intro__code {
        height: 15rem;
        width: 15rem; } }
    .intro__code p {
      display: inline-block;
      font-weight: bold; }
    .intro__code-title {
      font-size: 2.5rem;
      line-height: 2.9rem; }
      @media (max-width: 480px) {
        .intro__code-title {
          font-size: 2rem;
          line-height: 2rem; } }
    .intro__code-number {
      margin-top: 1.6rem; }
      @media (max-width: 480px) {
        .intro__code-number {
          margin-top: .5rem; } }
      .intro__code-number span {
        display: inline-block;
        background-color: #000000;
        color: #ffffff;
        font-size: 2.4rem;
        margin-top: .6rem;
        padding: 0.5rem; }
        @media (max-width: 480px) {
          .intro__code-number span {
            margin-top: 0; } }
  .intro__description {
    position: relative; }
  .intro__about-hotel {
    display: flex;
    flex-direction: column; }
  .intro__title, .intro__feedback {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .intro__title {
    font-family: "Trebuchet-MS";
    line-height: 4.1rem;
    margin: 2.4rem 0 3.2rem; }
    @media (max-width: 767px) {
      .intro__title {
        flex-direction: column;
        align-items: flex-start; } }
    .intro__title h2, .intro__title .stars {
      margin-right: 2rem; }
    .intro__title h2 a {
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      color: inherit;
      display: inline-block;
      font-weight: bold;
      text-decoration: none; }
    .intro__title span {
      font-size: 3.5rem;
      font-weight: bold; }
  .intro__feedback p:first-child {
    font-size: 1.4rem;
    letter-spacing: normal;
    line-height: 1.6rem;
    margin-right: 3.5rem;
    text-transform: none; }
    @media (max-width: 480px) {
      .intro__feedback p:first-child {
        margin-right: 1rem; } }
    .intro__feedback p:first-child span {
      font-size: inherit;
      font-weight: bold;
      line-height: inherit; }
  .intro__feedback p:nth-child(2) {
    background-color: #00bff3;
    margin-right: 2.4rem;
    padding: 1.2rem .8rem; }
    @media (max-width: 480px) {
      .intro__feedback p:nth-child(2) {
        margin-right: 1rem; } }
    .intro__feedback p:nth-child(2) span {
      color: #ffffff;
      font-size: 2.4rem;
      font-weight: bold;
      line-height: 2.8rem; }
  .intro__feedback p {
    font-size: 1.2rem;
    letter-spacing: .1rem;
    line-height: 1.4rem;
    margin-right: 1.6rem;
    text-transform: uppercase; }
    @media (max-width: 480px) {
      .intro__feedback p {
        letter-spacing: normal; } }
    .intro__feedback p span {
      font-size: 1.8rem;
      font-weight: bold;
      line-height: 2.1rem; }
  .intro__days {
    position: absolute;
    top: -2rem;
    right: 10rem; }
    @media (max-width: 767px) {
      .intro__days {
        right: 5rem; } }
    @media (max-width: 480px) {
      .intro__days {
        right: 2rem;
        text-align: center; } }
    .intro__days span {
      color: #777777;
      display: inline-block;
      font-family: "Trebuchet-MS";
      font-size: 8.8rem;
      font-weight: bold;
      line-height: 10.2rem; }
      @media (max-width: 480px) {
        .intro__days span {
          font-size: 7rem; } }
    .intro__days h3 {
      line-height: 3.1rem; }

.stars {
  display: flex;
  flex-direction: row; }
  .stars .star {
    height: 2.6rem;
    width: 2.7rem; }
  .stars .star.filled {
    background: url(../img/star-filled.png) center no-repeat;
    background-size: 100%; }
  .stars .star.empty {
    background: url(../img/star-empty.png) center no-repeat;
    background-size: 100%; }

.tours {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5.5rem 0 6.5rem; }
  @media (max-width: 480px) {
    .tours {
      margin: 3rem 0; } }
  @media (max-width: 767px) {
    .tours {
      flex-direction: column; } }
  .tours__element {
    width: calc(100% / 2 - 1.9rem); }
    @media (max-width: 767px) {
      .tours__element {
        margin-bottom: 2rem;
        width: 100%; } }
  .tours__image img {
    width: 100%; }
  .tours__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Trebuchet-MS";
    font-weight: bold;
    line-height: 4.1rem;
    margin: 2.5rem 0 1.1rem; }
    .tours__title h2 a {
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      color: #000000;
      text-decoration: none; }
    .tours__title h2 a:hover {
      border-bottom: 1px solid rgba(203, 0, 0, 0.25);
      color: #cb0000; }
    .tours__title span {
      font-size: 3.5rem;
      text-align: right;
      width: 10rem; }
  .tours__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Trebuchet-MS"; }
    .tours__description p {
      line-height: 1.9rem; }
    .tours__description span {
      color: #777777;
      font-family: "Trebuchet-MS";
      font-size: 2rem;
      line-height: 2.3rem;
      text-align: right;
      text-decoration: line-through;
      text-decoration-color: #cb0000;
      width: 7rem; }

.interesting__title {
  font-family: "Trebuchet-MS";
  font-weight: bold;
  line-height: 5.2rem;
  margin-bottom: 2rem; }

.interesting__container {
  display: flex;
  flex-direction: row;
  margin-bottom: 4.4rem; }
  @media (max-width: 991px) {
    .interesting__container {
      flex-direction: column; } }

.interesting__main p:not(:last-of-type) {
  margin-bottom: 2.5rem; }

.interesting__main h4, .interesting__main h5 {
  font-weight: bold;
  padding-bottom: .5rem; }

.interesting__main h4 {
  line-height: 2.5rem; }

.interesting__main h5 {
  line-height: 1.8rem; }

.interesting__main blockquote {
  border-left: 0.8rem solid #00bff3;
  font-size: 1.4rem;
  font-style: italic;
  line-height: inherit;
  margin: 0 0 2.5rem 4rem;
  padding: 1.1rem 0 1.6rem 1.1rem; }

.interesting table {
  border-spacing: 0;
  text-align: left;
  padding: 3.1rem 0;
  width: 100%; }
  .interesting table tr:first-child {
    background-color: rgba(119, 119, 119, 0.2); }
  .interesting table tr th, .interesting table tr td {
    font-size: 1.4rem;
    line-height: 1.6rem;
    width: calc(100% / 6); }
    @media (max-width: 480px) {
      .interesting table tr th, .interesting table tr td {
        font-size: 1.3rem;
        width: calc(100% / 5); } }
  @media (max-width: 480px) {
    .interesting table tr th:last-child,
    .interesting table tr td:last-child {
      display: none; } }
  .interesting table tr th {
    font-weight: bold;
    padding: 1rem 0; }
  .interesting table tr td {
    padding: .7rem 0; }
  .interesting table tr td:first-child {
    font-weight: bold;
    padding-left: 1rem; }

.interesting__list h6 {
  font-size: 1.4rem; }

.interesting__list ul {
  padding-left: 1rem; }
  .interesting__list ul li {
    font-size: 1.4rem; }

.interesting__note {
  flex-shrink: 0;
  padding: 27.8rem 0 0 3.7rem;
  width: 26.4rem; }
  @media (max-width: 991px) {
    .interesting__note {
      margin: 0 auto;
      padding: 0;
      text-align: center;
      width: 80%; } }
  .interesting__note span {
    color: #777777;
    font-family: "Trebuchet-MS";
    font-size: 10rem;
    font-weight: bold;
    line-height: 11.6rem; }
  .interesting__note h3 {
    line-height: 3.1rem; }
  .interesting__note p {
    color: #777777;
    font-size: 2rem;
    line-height: 2.5rem; }

.footer {
  border-top: 1px solid #777777;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 0; }
  .footer__copyright {
    font-size: 1.2rem;
    line-height: 1.7rem; }
    .footer__copyright a {
      color: #00bff3;
      text-decoration: underline;
      text-decoration-color: #00bff3; }
