///////////////////////////////////
// Variables
// Colors
$color-black: #000000;
$color-grey: #777777;
$color-white: #ffffff;
$color-blue: #00bff3;
$color-orange: #ff9900;
$color-yellow: #fff200;
$color-red: #cb0000;

// Font
$trebuchet: 'Trebuchet-MS';



///////////////////////////////////
// Font
@font-face {
  font-family: "Trebuchet-MS"; 
  src: url("../fonts/Trebuchet-MS.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

///////////////////////////////////
// Reset CSS
*, *::before, *::after {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

html {
  font-size: 12px;
}

body {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
	line-height: 1.9rem;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 3.5rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2.2rem;
}

h5 {
	font-size: 1.6rem;
}

p {
	font-size: 1.4rem;
}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1439px) {
	html {
		font-size: 11px;
	}
}
 
/* Portrait tablets and medium desktops */
@media (max-width: 1199px) {
	html {
		font-size: 10px;
	}
}
 
/* Portrait tablets and small desktops */
@media (max-width: 991px) {
	html {
		font-size: 9px;
	}
}
 
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	html {
		font-size: 7px;
	}
}
 
/* Landscape phones and smaller */
@media (max-width: 480px) {
	html {
		font-size: 6px;
	}
}