// Container style
.container {
  margin: 0 auto;
  height: 100%;
  max-width: 104rem;

  @media (max-width: 1199px) {
    padding: 0 1rem;
  }
}

// Social buttons style
.social {
  display: flex;
  flex-direction: row;

  a {
    display: block;
    margin-left: 1rem;

    img {
      height: 3.2rem;
      width: 3.2rem;
    }
  }
}

// Header style
.header {
  background-color: $color-blue;

  &__content {
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 10.4rem;
    width: 100%;

    @media (max-width: 1199px) {
      flex-direction: column;
    }
  }  

  &__logo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    @media (max-width: 1199px) {
      padding: 1rem;
    }

    img {
      max-height: 4.3rem;
      max-width: 17.9rem;
    }

    p {
      display: inline-block;
      font-size: 1.6rem;
      padding-left: 2.2rem;
    }
  }  

  &__contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__phone {
    span {
      display: block;
      font-size: 3rem;
    }
  }

  &__call-back {
    padding-left: 2.6rem;

    @media (max-width: 480px) {
      padding-left: 1rem;
    }

    a {
      border-bottom: 1px solid rgba($color-white, 0.5);
      color: $color-white;
      font-size: 1.6rem;
      text-decoration: none;
    }
  }

  .social {
    padding-left: 4.7rem;

    @media (max-width: 480px) {
      padding-left: 1rem;
    }
  }
}

// Intro style
.intro {
  margin-top: 2.4rem;

  &__header {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 99%, 94% 97%, 84% 88%, 57% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 99%, 94% 97%, 84% 88%, 57% 100%, 0% 100%);
    max-width: 104rem;
    position: relative;

    img {
      width: 100%;
    }
  }

  &__code {
    background-color: rgba($color-yellow, .7);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $trebuchet;
    position: absolute;
    left: 3.2rem;
    bottom: 3.2rem;
    text-align: center;
    height: 25rem;
    width: 25rem;

    @media (max-width: 480px) {
      height: 15rem;
      width: 15rem;
    }

    p {
      display: inline-block;
      font-weight: bold;
    }

    &-title {
      font-size: 2.5rem;
      line-height: 2.9rem;

      @media (max-width: 480px) {
        font-size: 2rem;
        line-height: 2rem;
      }
    }

    &-number {
      margin-top: 1.6rem;

      @media (max-width: 480px) {
        margin-top: .5rem;
      }

      span {
        display: inline-block;
        background-color: $color-black;
        color: $color-white;
        font-size: 2.4rem;
        margin-top: .6rem;
        padding: 0.5rem;

        @media (max-width: 480px) {
          margin-top: 0;
        }
      }
    }
  }

  &__description {
    position: relative;
  }

  &__about-hotel {
    display: flex;
    flex-direction: column;
  }

  &__title,
  &__feedback {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__title {
    font-family: $trebuchet;
    line-height: 4.1rem;
    margin: 2.4rem 0 3.2rem;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
    }

    h2, .stars {
      margin-right: 2rem;
    }

    h2 {
      a {
        border-bottom: 1px solid rgba($color-black, .25);
        color: inherit;
        display: inline-block;
        font-weight: bold;
        text-decoration: none;
      }
    }

    span {
      font-size: 3.5rem;
      font-weight: bold;
    }
  }

  &__feedback {
    p:first-child {
      font-size: 1.4rem;
      letter-spacing: normal;
      line-height: 1.6rem;
      margin-right: 3.5rem;
      text-transform: none;

      @media (max-width: 480px) {
        margin-right: 1rem;
      }

      span {
        font-size: inherit;
        font-weight: bold;
        line-height: inherit;
      }
    }

    p:nth-child(2) {
      background-color: $color-blue;
      margin-right: 2.4rem;
      padding: 1.2rem .8rem;

      @media (max-width: 480px) {
        margin-right: 1rem;
      }

      span {
        color: $color-white;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 2.8rem;
      }
    }

    p {
      font-size: 1.2rem;
      letter-spacing: .1rem;
      line-height: 1.4rem;
      margin-right: 1.6rem;
      text-transform: uppercase;

      @media (max-width: 480px) {
        letter-spacing: normal;
      }
      
      span {
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 2.1rem;
      }
    }
  }

  &__days {
    position: absolute;
    top: -2rem;
    right: 10rem;

    @media (max-width: 767px) {
      right: 5rem;
    }

    @media (max-width: 480px) {
      right: 2rem;
      text-align: center;
    }

    span {
      color: $color-grey;
      display: inline-block;
      font-family: $trebuchet;
      font-size: 8.8rem;
      font-weight: bold;
      line-height: 10.2rem;

      @media (max-width: 480px) {
        font-size: 7rem;
      }
    }

    h3 {
      line-height: 3.1rem;
    }
  }
}

.stars {
  display: flex;
  flex-direction: row;
  .star {
    height: 2.6rem;
    width: 2.7rem;
  }

  .star.filled {
    background: url(../img/star-filled.png) center no-repeat;
    background-size: 100%;
  }

  .star.empty {
    background: url(../img/star-empty.png) center no-repeat;
    background-size: 100%;
  }
}

// Tours style
.tours {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5.5rem 0 6.5rem;

  @media (max-width: 480px) {
    margin: 3rem 0;
  }

  @media (max-width: 767px) {
    flex-direction: column;
  }

  &__element {
    width: calc(100% / 2 - 1.9rem);

    @media (max-width: 767px) {
      margin-bottom: 2rem;
      width: 100%;
    }
  }  

  &__image {
    img {
      width: 100%;
    }
  }

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $trebuchet;
    font-weight: bold;
    line-height: 4.1rem;
    margin: 2.5rem 0 1.1rem;

    h2 {
      a {
        border-bottom: 1px solid rgba($color-black, .25);
        color: $color-black;
        text-decoration: none;
      }

      a:hover {
        border-bottom: 1px solid rgba($color-red, .25);
        color: $color-red;
      }
    }

    span {
      font-size: 3.5rem;
      text-align: right;
      width: 10rem;
    }
  }

  &__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $trebuchet;

    p {
      line-height: 1.9rem;
    }

    span {
      color: $color-grey;
      font-family: $trebuchet;
      font-size: 2rem;
      line-height: 2.3rem;
      text-align: right;
      text-decoration: line-through;
      text-decoration-color: $color-red;
      width: 7rem;
    }
  }
}


// Interesting style
.interesting {
  &__title {
    font-family: $trebuchet;
    font-weight: bold;
    line-height: 5.2rem;
    margin-bottom: 2rem;
  }

  &__container {
    display: flex;
    flex-direction: row;
    margin-bottom: 4.4rem;

    @media (max-width: 991px) {
      flex-direction: column;
    }
  }  

  &__main {
    p:not(:last-of-type) {
      margin-bottom: 2.5rem;
    }

    h4, h5 {
      font-weight: bold;
      padding-bottom: .5rem;
    }

    h4 {
      line-height: 2.5rem;
    }

    h5 {
      line-height: 1.8rem;
    }

    blockquote {
      border-left: .8rem solid $color-blue;
      font-size: 1.4rem;
      font-style: italic;
      line-height: inherit;
      margin: 0 0 2.5rem 4rem;
      padding: 1.1rem 0 1.6rem 1.1rem;
    }
  }

  table {
    border-spacing: 0;
    text-align: left;
    padding: 3.1rem 0;
    width: 100%;

    tr:first-child {
      background-color: rgba($color-grey, .2);
    }

    tr {
      th, td {
        font-size: 1.4rem;
        line-height: 1.6rem;
        width: calc(100% / 6);

        @media (max-width: 480px) {
          font-size: 1.3rem;
          width: calc(100% / 5);
        }
      }

      @media (max-width: 480px) {
        th:last-child,
        td:last-child {
          display: none;
        }
      }

      th {
        font-weight: bold;
        padding: 1rem 0;
      }

      td {
        padding: .7rem 0;
      }

      td:first-child {
        font-weight: bold;
        padding-left: 1rem;
      }
    }
  }

  &__list {
    h6 {
      font-size: 1.4rem;
    }

    ul {
      padding-left: 1rem;

      li {
        font-size: 1.4rem;
      }
    }
  }

  &__note {
    flex-shrink: 0;
    padding: 27.8rem 0 0 3.7rem;
    width: 26.4rem;

    @media (max-width: 991px) {
      margin: 0 auto;
      padding: 0;
      text-align: center;
      width: 80%;
    }

    span {
      color: $color-grey;
      font-family: $trebuchet;
      font-size: 10rem;
      font-weight: bold;
      line-height: 11.6rem;
    }

    h3 {
      line-height: 3.1rem;
    }

    p {
      color: $color-grey;
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }
}

// Footer style
.footer {
  border-top: 1px solid $color-grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 0;

  &__copyright {
    font-size: 1.2rem;
    line-height: 1.7rem;

    a {
      color: $color-blue;
      text-decoration: underline;
      text-decoration-color: $color-blue;
    }
  }
}